.title-container {
    padding: 10px 10px 10px 10px;
    width: 50%;
}

.content-container {
    padding: 10px 10px 10px 10px;
    width: 50%;
}

.create-button {
    margin-left: 10px;
}

.has-error {
    padding: 0px 10px 10px 10px;
    color: red;
}