<div class="grid-container">
    <div class="progress-spinner" *ngIf="isFetching">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of flashcards">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="redirectToFlashcardCreation()" mat-menu-item>Add</button>
                <button (click)="modifyFlashcard(card.flashcardId)" mat-menu-item>Modify</button>
                <button (click)="removeFlashcard(card.flashcardId)" mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Flahcaerd content will be here!</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>